<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Spot Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">
    <link href="../static/CSS/learning_intentions.css" rel="stylesheet" type="text/css" />
    <link href="../static/CSS/zoom_window.css" rel="stylesheet" type="text/css" />
    <link href="../static/CSS/progress_tracker.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1> LearningSpot</h1>
    </header>
    <main>
        <section class="container">
          <div class="learning_intentions_section">
            <div class="learning_intentions_module">
              <div class="learning_intentions_header">
                <h1>Learning Intentions</h1>
              </div>
            
                <div class="learning_intention">
                    <div class="learning intention">
                      <div class="learning_intention_content">
                        <h2> To understand the area of a circle formula. </h2>
                      </div>
                    </div>
                </div>

                <div class="learning_intention">
                  <div class="learning intention">
                    <div class="learning_intention_content">
                      <h2> Be able to explain continental drift. </h2>
                    </div>
                  </div>
                </div>

                <div class="learning_intention">
                  <div class="learning intention">
                    <div class="learning_intention_content">
                      <h2> Be comfortable using the dry brush method. </h2>
                    </div>
                  </div>
                </div>

                <div class="learning_intention">
                  <div class="learning intention">
                    <div class="learning_intention_content">
                      <h2> Be able to identify an anacrusis. </h2>
                    </div>
                  </div>
                </div>
            </div>

            <div class="confidence_level_module">
              <div class="confidence_level_header">
                <h1>Confidence Level</h1>
              </div>

              <div class="happy_button">
                <button type="happy_button"> <img src="../static/images/happy.png" height="50" width="50"
                    background-colour="transparent" /></button>
                </div>
                <div class="unsure_button">
                  <button type="happy_button"> <img src="../static/images/confused.png" height="50" width="50" /></button>
                </div>
                <div class="sad_button">
                  <button type="happy_button"> <img src="../static/images/sad.png" height="50" width="50" /></button>
                </div>
              </div>

                <div class="confidence_level">
                  <div class="happy_button">
                    <button type="happy_button"> <img src="../static/images/happy.png" height="50" width="50"
                        background-colour="transparent" /></button>
                  </div>
                    <div class="unsure_button">
                      <button type="happy_button"> <img src="../static/images/confused.png" height="50" width="50" /></button>
                    </div>
                    <div class="sad_button">
                      <button type="happy_button"> <img src="../static/images/sad.png" height="50" width="50" /></button>
                    </div>
                </div>

                <div class="confidence_level">
                  <div class="happy_button">
                    <button type="happy_button"> <img src="../static/images/happy.png" height="50" width="50"
                        background-colour="transparent" /></button>
                  </div>
                    <div class="unsure_button">
                      <button type="happy_button"> <img src="../static/images/confused.png" height="50" width="50" /></button>
                    </div>
                    <div class="sad_button">
                      <button type="happy_button"> <img src="../static/images/sad.png" height="50" width="50" /></button>
                    </div>
                </div>

                <div class="confidence_level">
                  <div class="happy_button">
                    <button type="happy_button"> <img src="../static/images/happy.png" height="50" width="50"
                        background-colour="transparent" /></button>
                  </div>
                    <div class="unsure_button">
                      <button type="happy_button"> <img src="../static/images/confused.png" height="50" width="50" /></button>
                    </div>
                    <div class="sad_button">
                      <button type="happy_button"> <img src="../static/images/sad.png" height="50" width="50" /></button>
                    </div>
                </div>
                
            </div>
          </div>

        </section>
      </main>    
  </body>
</html> 