<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">
    <link href="../static/CSS/login.css" rel="stylesheet" type="text/css" />
    <link href="../static/CSS/main.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<main>
    <section class="container">
            <div class="login_card_container">
                <div class="login_card">

                    <div class="login_header">
                        <h3 id="title">LOGIN</h3>
                    </div>

                    <div class="login_credentials">
                        <form method="POST" action="">
                            
                            {% csrf_token %}

                            <div class="username_group">
                                <div class="username_input">
                                    
                                                            <!-- changing -->
                                    <span class="input-group-text"><i class="fas fa-user"></i></span> 

                                </div>
                                <input type="text" name="username" placeholder="Username..." class="form-control">
                            </div>

                            <div class="password_group">
                                <div class="password_input">

                                                            <!-- changing -->
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>

                                </div>
                                    <input type="password" name="password" placeholder="Password..." class="form-control" >
                            </div>

                            {% for message in messages %}
                                <p id="messages"> {{message }}</p>
                            {% endfor %}
    
                                <div class="login_button">
                                     <input class="login_btn" type="submit" value="Login">
                                   </div>
                        </form>
                    </div>
            
                    <div class="no_account">
                        <div class="no_account_content">
                            Don't have an account yet? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


