{% extends 'base.html' %}

{%block title%}
{%endblock title%}

{%block content%}
{% for obj in qs %}
    <h1>{{ obj.title }}</h1>
    <p>{{ obj.body }}</p>
   
    <!-- happy -->
    <form action="{% url 'happy_select'%}" method ='POST' class="ui form" id="happy_form">
        {% csrf_token %}
        <input type="hidden" name="learning_intention_id" value="{{obj.id}}">
        {% if user not in obj.happy.all %}
        <button class="ui button positive" id="hs" type="submit" onclick="happy_onclick()">Select</button>
        {% else %}
        <button class="ui button negative" id="hu" type="submit">Unselect</button>
        {% endif %}
    </form>
    <strong>{{obj.happy.all.count}} Happy</strong>

    <!-- unsure -->
    <form action="{% url 'unsure_select'%}" method ='POST' class="ui form" id="unsure">
        {% csrf_token %}
        <input type="hidden" name="learning_intention_id" value="{{obj.id}}">
        {% if user not in obj.unsure.all %}
        <button class="ui button positive" id="us" type="submit" onclick="unsure_onclick()">Select</button>
        {% else %}
        <button class="ui button negative" id="uu" type="submit">Unselect</button>
        {% endif %}
    </form>
    <strong>{{obj.unsure.all.count}} Unsure</strong>

    <!-- sad -->
    <form action="{% url 'sad_select'%}" method ='POST' class="ui form" id="sad">
        {% csrf_token %}
        <input type="hidden" name="learning_intention_id" value="{{obj.id}}">
        {% if user not in obj.sad.all %}
        <button class="ui button positive" id="ss" type="submit" onclick="sad_onclick()">Select</button>
        {% else %}
        <button class="ui button negative" id="su" type="submit">Unselect</button>
        {% endif %}
    </form>
    <strong>{{obj.sad.all.count}} Sad</strong>

    {% endfor %}

    <script src="../static/JS/learning_intentions.js"></script>
    
{%endblock content%}