<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">
    <link href="../static/CSS/register.css" rel="stylesheet" type="text/css" />
    <link href="../static/CSS/main.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<main>
    <section class="container">
            <div class="register_container">
                <div class="ls_logo">
                    <img src="../static/images/LSLOGO.png" height="250px" width="250px"/>
                </div>
                
                <div class="register_card">

                    <div class="register_header">
                        <h3 id="title">REGISTER</h3>
                    </div>

                            <div class="register_credentials">
                                <form method="POST" action="">

                                    {% csrf_token %}

                                    <div class="username_group_reg">
                                        <div class="username_input_reg">
                                            {{form.username.label}}
                                            {{form.username}}
                                        </div>
                                    </div>

                                    <div class="email_group_reg">
                                        <div class="email_input_reg">
                                            {{form.email.label}}
                                            {{form.email}}
                                        </div>   
                                    </div>

                                    <div class="password1_group_reg">
                                        <div class="password1_input_reg">
                                            {{form.password1.label}}
                                            {{form.password1}}
                                        </div>                                           
                                    </div>

                                    <div class="password2_group_reg">
                                        <div class="password2_input_reg">
                                            {{form.password2.label}}
                                            {{form.password2}}
                                        </div>                                           
                                    </div>
            
                                        <div class="register_button">
                                            <input type="submit" name="Create User">
                                        </div>

                                            {{form.errors}}
                                        <div class="reg_already">
                                            <div class="login">Already have an account?
                                                <a href="{% url 'login'%}"> Login</a>
                                            </div>
                                        </div>
                                </form>
                            </div>                        
                    </div>
                </div>
    </section>
</main>