/* Complete Don't Touch*/
.learning_material_section {
    display: flex;
    position: absolute;
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(16, 217, 224, 0.4), 
        rgba(16, 179, 255, 0.2)
        );
    border-radius: 2rem;
    backdrop-filter: blur(30rem);
    border: 2px solid;
    border-color: black;
}
/* Complete Don't Touch*/
.learning_material_module{
    background: none;
        border: none;
        border-color: none;
        margin: 0.5rem 0rem;
        border-radius: 1rem;
}
/* Complete Don't Touch*/
.learning_material_header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Complete Don't Touch*/
.learning_material{
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to right top, 
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.2)
        );
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}
/* Complete Don't Touch*/
.dropbox_module {
    background: none;
    border: none;
    border-color: none;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
}
/* Complete Don't Touch*/
.dropbox_header {
    margin: 1.3rem 0rem 0rem 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Complete Don't Touch*/
.dropbox_button {
    margin: 0rem 0rem;
    border-radius: 1rem;
    box-shadow: none;
    padding: 10px 16px;
    outline: none;
    border: none;
}

/* Complete Don't Touch*/
/*Desktop 1920px x 1367px*/

@media screen   
and (max-device-width: 1920px) and (max-device-height: 1080px){
        
        .learning_material_section {
            display: flex;
            position: absolute;
            width: 40rem;
            height: 26.5rem;
            float:left;
            margin: 29.7rem 0rem 0rem 74rem;
            z-index: 1;
        }

        .learning_material_module{
            padding: 1rem 0rem 0rem 1rem;
            width: 100rem;
            height: 10rem;
        }

        .learning_material_header{
            padding: 0.5rem 0rem 0rem 9rem;
            bottom: 1rem;
            font-size: 1rem;
        }
        
        .learning_material{
            padding: 1rem 0rem 1rem 0.1rem;
            margin: 0.8rem 0rem 0rem 3rem;
            font-size: 0.6rem;
            word-wrap: break-all;
            width: 22rem;
            text-align: left;
        }

        .dropbox_module{
            padding: 0.5rem 5rem 0rem 0rem;
            width: 18rem;
            height: 10rem;
        }

        .dropbox_header{
            padding: 1.6rem 0rem 1rem 0rem;
            bottom: 0rem;
            font-size: 1rem;
        }

        .dropbox_button {
            margin: 0rem 0rem 0rem 0rem;
        }

}
