/*Desktop 1920px x 1367px*/
@media screen   
and (max-device-width: 1920px) and (max-device-height: 1080px){

.learning_intentions_section {
display: flex;
position: absolute;
width: 40rem;
height: 22rem;
float:left;
margin: 2rem 0rem 0rem 5rem;
z-index: 1;
background: white;
background: linear-gradient(
to right bottom, 
rgba(16, 217, 224, 0.4), 
rgba(16, 179, 255, 0.2)
);
border-radius: 2rem;
backdrop-filter: blur(30rem);
border: 2px solid;
border-color: black;
}

.learning_intentions_module{
background: none;
border: none;
border-color: none;
margin: 0.5rem 0rem;
border-radius: 1rem;
position: relative;
padding: 1rem 0rem 0rem 1rem;
width: 30rem;
height: 10rem;
}

.learning_intentions_header{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem 0rem 0rem 3.5rem;
width: 18rem;
bottom: 1rem;
font-size: 1rem;
}

.learning_intention{
display: flex;
justify-content: center;
background: linear-gradient(
to right top, 
rgba(255,255,255,0.5),
rgba(255,255,255,0.2)
);
margin: 0.5rem 0rem;
border-radius: 1rem;
box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
height: 3rem;
padding: 0.5rem 0rem 0rem 0.1rem;
margin: 0.5rem 0rem 0rem 0.5rem;
font-size: 0.6rem;
word-wrap: break-all;
width: 20rem;
text-align: left;
}

.confidence_level_module{
background: none;
border: none;
border-color: none;
margin: 0rem 0rem;
border-radius: 1rem;
padding: 0rem 1rem 0rem 0rem;
height: 10rem;
}

.confidence_level_header{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
white-space: nowrap;
padding: 2.5rem 1rem 1rem 0rem;
bottom: 1rem;
font-size: 1rem;
}

.confidence_button_group {
display: inline-flex;
margin: 0rem 0rem -0.3rem 0rem;
padding: 0rem 0rem 0rem 0rem;
}

.button {
margin: 0rem 0rem;
border-radius: 1rem;
box-shadow: none;
padding: 10px 16px;
outline: none;
border: none;
}

.li_input{
text-align: center;
margin: 19.2rem 0rem 0rem 0em;
padding: 0.5rem 0.5rem 0.5rem 0.5rem;
border-bottom-left-radius: 2rem;
width: 23rem;
position: absolute;
border: 1px solid;
border-color: black;
background: linear-gradient(
to right bottom, 
rgba(18, 110, 112, 0.4), 
rgba(53, 138, 177, 0.2)
);
}

.confidence_count_group{
border-bottom: 1px solid black;
display: inline-flex;
margin: -1rem 0rem 1.6rem 0rem;
padding: 0rem 0rem 0rem 2.5rem;
display: inline-flex;
}
       
}

