/* Complete Don't Touch*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Complete Don't Touch*/
header {
    padding: 0rem 0rem 0rem 10rem;
    display: flex;
    font-family: 'Poppins', sans-serif, thin;
    background: linear-gradient(to right top, #65dfc962, #6cdaeb5c);
}

.logout_button{
    display: flex;
    padding: 1rem 0rem 0rem 40rem;
}

.sign_out_btn{
    color: black;
    text-decoration: none;
    cursor: auto;
    font-family: 'Poppins', sans-serif, thin;
    margin-bottom: 0rem;
    margin-left: 1rem;
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
}

.view_name{
    display: flex;
    padding: 1rem 40rem 0rem 0rem;
}

/* Complete Don't Touch*/
.container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
/* Complete Don't Touch*/
main {
    font-family: 'Poppins', sans-serif, thin;
    height: auto;
    width: auto;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    
}



