 * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_panel{
    min-height: 97vh;
    width:97%;
}

.learning_intentions_section{
    display: flex;
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.2)
        );
    border-radius: 2rem;
    position: absolute;
     
}

.learning_intentions_module{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.learning_intentions_header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning_intention{
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to right top, 
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.2)
        );
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}


.confidence_level_module{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 1rem;
    justify-content: space-between;
}

.confidence_level_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confidence_level{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background: red;
    
}

header{
    min-height: 5vh;
    background: linear-gradient(to right top,#65dfc962, #6cdaeb5c);
    text-align: center;
}

/*Desktop 1920 x 1080 */
@media screen   
    and (max-device-width: 1920px) 
    and (min-device-width: 1366px) 
    and (max-device-height: 1080px) 
    and (min-device-height: 768px){
        .learning_intentions_section{ 
            top: 8vh;
            left: 3vh;
        }

        .learning_intentions_module{
            padding: 3rem;
        }

        .learning_intentions_header{
            bottom: 1rem;
            font-size: 18px;
            -webkit-text-size-adjust: auto;
        }
        
        .learning_intention{
            padding: 0.75rem;
            font-size: 12px;
            -webkit-text-size-adjust: auto;
        }

        .confidence_level_module{

        }

        .confidence_level_header{
            bottom: 1rem;
            font-size: 18px;
            -webkit-text-size-adjust: auto;
        }

        .confidence_level{
        
        }



    
}

