 * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Poppins', sans-serif, thin;
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_panel{
    min-height: 97vh;
    width:97%;
}

.learning_intentions_section{
    display: flex;
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(16, 217, 224, 0.4), 
        rgba(16, 179, 255, 0.2)
        );
    border-radius: 2rem;
    position: absolute;
    backdrop-filter: blur(30rem);
    border: 1px solid;
    border-color: black;
   
}

.learning_intentions_module{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.learning_intentions_header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning_intention{
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to right top, 
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.2)
        );
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    
    
}

.confidence_level_module{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 1rem;
    justify-content: space-between;
}

.confidence_level_header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confidence_level{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

header{
    min-height: 5vh;
    background: linear-gradient(to right top,#65dfc962, #6cdaeb5c);
    text-align: center;
}

/* Desktop 1920px x 1080px */
@media screen   
    and (max-device-width: 1920px) 
    and (min-device-width: 1367px) 
    and (max-device-height: 1080px) 
    and (min-device-height: 769px){
        .learning_intentions_section{ 
            top: 8vh;
            left: 3vh;
        }

        .learning_intentions_module{
            padding: 2rem;
        }

        .learning_intentions_header{
            bottom: 1rem;
            font-size: 16px;
            -webkit-text-size-adjust: auto;
        }
        
        .learning_intention{
            padding: 0.5rem;
            font-size: 12px;
            -webkit-text-size-adjust: auto;
            word-wrap: break-all;
            width: 300px;
            text-align: center;
        }

        .confidence_level_module{
            padding: 2rem;
        }

        .confidence_level_header{
            bottom: 1rem;
            font-size: 16px;
            -webkit-text-size-adjust: auto;
        }

        .confidence_level{
            padding: 0.75rem;
        }    
}

/* Laptop 1366px x 768px */
@media screen   
    and (max-device-width: 1366px) 
    and (min-device-width: 1025px) 
    and (max-device-height: 769px) 
    and (min-device-height: 769px){
        .learning_intentions_section{ 
            top: 8vh;
            left: 2vh;
        }

        .learning_intentions_module{
            padding: 1rem;
        }

        .learning_intentions_header{
            bottom: 0rem;
            font-size: 16px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;

        }
        
        .learning_intention{
            padding: 0.5rem;
            font-size: 12px;
            -webkit-text-size-adjust: auto;
            word-wrap: break-all;
            width: 200px;
            text-align: center;
        }

        .confidence_level_module{
            padding: 1rem;
        }

        .confidence_level_header{
            bottom: 0rem;
            font-size: 16px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;
        }

        .confidence_level{
            padding: 0.5rem;
        }    
}

/*Tablet 1024px x 768px */
@media screen   
    and (max-device-width: 1024px) 
    and (min-device-width: 1024px) 
    and (max-device-height: 769px) 
    and (min-device-height: 769px){
        .learning_intentions_section{ 
            top: 8vh;
            left: 2vh;
        }

        .learning_intentions_module{
            padding: 0.5rem;
        }

        .learning_intentions_header{
            bottom: 0rem;
            font-size: 10px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;

        }
        
        .learning_intention{
            padding: 0.5rem;
            font-size: 6px;
            -webkit-text-size-adjust: auto;
            word-wrap: break-all;
            width: 135px;
            text-align: center;
        }

        .confidence_level_module{
            padding: 0.5rem;
        }

        .confidence_level_header{
            bottom: 0rem;
            font-size: 10px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;
        }

        .confidence_level{
            padding: 0.5rem;
            width: 100px;
        }    
}

/*Mobile 414px x 896px */
@media screen   
    and (max-device-width: 414px) 
    and (min-device-width: 414px) 
    and (max-device-height: 896px) 
    and (min-device-height: 896px){
        .learning_intentions_section{ 
            top: 8vh;
            left: 4vh;
            position: center;
        }

        .learning_intentions_module{
            padding: 0.5rem;
        }

        .learning_intentions_header{
            bottom: 0rem;
            font-size: 8px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;

        }
        
        .learning_intention{
            padding: 0.5rem;
            font-size: 6px;
            -webkit-text-size-adjust: auto;
            word-wrap: break-all;
            width: 135px;
            text-align: center;
        }

        .confidence_level_module{
            padding: 0.5rem;
            right: 3vh;
        }

        .confidence_level_header{
            bottom: 0rem;
            font-size: 8px;
            -webkit-text-size-adjust: auto;
            word-break: keep-all;
            
        }

        .confidence_level{
            padding: 0.5rem;
            width: 100px;
        }    
}