.whiteboard_window{
    position: absolute;
    overflow: hidden;
    margin: 25rem 0rem 0rem 5rem;
    z-index: 4;
    border: 1px solid;
    border-color: black;
    width: 1050px;
    height: 500px;
    border-radius: 2rem;
    transform: translateZ(0px);
    border: 2px solid; 
    border-color: black;  
}