.whiteboard_window{
    display: block;
    overflow: hidden;
    text-align: left;
    margin: 1rem 0rem 0rem 7rem;
    border: 1px solid;
    border-color: black;
    width: 1018px;
    height: 500px;
    border-radius: 2rem;
    transform: translateZ(0px);
    border: 2px solid; 
    border-color: black;  
}