* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoom_window {
    display: flex;
    background: white;
    background: linear-gradient(to right bottom,
            rgba(16, 217, 224, 0.4),
            rgba(16, 179, 255, 0.2));
    border-radius: 2rem;
    position: absolute;
    backdrop-filter: blur(30rem);
    border: 1px solid;
    border-color: black;
}

/* Desktop 1920px x 1080px */
@media screen and (max-device-width: 1920px) and (min-device-width: 1367px) and (max-device-height: 1080px) and (min-device-height: 769px) {
    .zoom_window {
        position: absolute;
        width: 540px;
        height: 445px;
        z-index: 15;
        top: 7.5%;
        left: 50%;
        margin: 0px -100px 0px -250px;
        min-width: 540px;
    }

}

/* Laptop 1366px x 768px */
@media screen and (max-device-width: 1366px) and (min-device-width: 1025px) and (max-device-height: 769px) and (min-device-height: 769px) {
    .zoom_window {
        position: absolute;
        width: 540px;
        height: 445px;
        z-index: 15;
        top: 7.5%;
        left: 50%;
        margin: 0px -100px 0px -250px;
    }
}

/*Tablet 1024px x 768px */
@media screen and (max-device-width: 1024px) and (min-device-width: 1024px) and (max-device-height: 769px) and (min-device-height: 769px) {
    .zoom_window {
        position: absolute;
        width: 540px;
        height: 445px;
        z-index: 15;
        top: 7.5%;
        left: 50%;
        margin: 0px -100px 0px -250px;
    }


}

/*Mobile 414px x 896px */
@media screen and (max-device-width: 414px) and (min-device-width: 414px) and (max-device-height: 896px) and (min-device-height: 896px) {
    .zoom_window {
        position: center;
        width: 540px;
        height: 445px;
        z-index: 15;
        top: 7.5%;
        left: 50%;
        margin: 0px -100px 0px -250px;
    }


}